<div class="message-left">
    <div>
        <img src="assets/img/jackie.svg" alt="user" class="user-left">
    </div>
    <div class="text-box left">
        <p class="textmessage-left" id="textmessage">
            Dit is een antwoord
        </p>
        <div class="serviceYes textmessage-left" onclick="customerServiceYes()">
            <div>Ja</div>
        </div>
        <div class="serviceNo textmessage-left" onclick="customerServiceNo()">
            <div>Nee</div>
        </div>
    </div>
</div>